### printing hello world as first programming is always fun !

In [2]:
print('Hello World')

Hello World

In [8]:
print(' I wanna be a pythonsita')

 I wanna be a pythonsita

### Declaring variables in python ................

In [17]:
name = 'Hasnat Osman'

In [18]:
name

'Hasnat Osman'

In [19]:
age = 27

In [20]:
age

27

In [23]:
first_name = "hasnat"
student = False

In [24]:
first_name

'hasnat'

In [25]:
student

False

In [31]:
print('My first name is: ', first_name)
print('Full Name is: ',name)
print('I am ' + str(age) + ' Years old!')
print('Am I a studet ?',student)

My first name is:  hasnat
Full Name is:  Hasnat Osman
I am 27 Years old!
Am I a studet ? False

### Receiving input from keyboard.....

In [32]:
print('What is your name?')

What is your name?

In [33]:
input('')

Hasnat osman

'Hasnat osman'

In [34]:
input('What is your name ?')

What is your name ?Hasnat

'Hasnat'

In [40]:
name = input("What is your name ?")

What is your name ?Hasnat

In [42]:
print("Hello " + name)

Hello Hasnat

### Type conversion.................

In [43]:
birth_year = input('My birth year is: ')

My birth year is: 1995

In [45]:
my_age = 2023 - int(birth_year)

In [46]:
my_age

28

In [48]:
my_age

28

In [49]:
birth_year = int(input(" My birth Year is: "))

 My birth Year is: 1995

In [50]:
my_age = 2023 - birth_year

In [51]:
my_age

28

In [54]:
num1 = input()
num2 =input()
sum = int(num1) + int(num2)
sum

20
30

50

In [55]:
num1 = input()
num2 =input()
sum = float(num1) + float(num2)
sum

20.5
30.25

50.75

In [56]:
num1 = input()
num2 =input()
sum = num1 + num2
sum

20
30

'2030'

### Stings in python................

In [57]:
name = 'Hasnat Osman'

In [59]:
name.capitalize()

'Hasnat osman'

In [60]:
name.upper()

'HASNAT OSMAN'

In [61]:
name.lower()

'hasnat osman'

In [63]:
name.lstrip()

'Hasnat Osman'

In [64]:
name.ljust

In [65]:
name

'Hasnat Osman'

In [66]:
name.find('O')

7

In [72]:
name.find("t")

5

In [76]:
name.replace('a','@')

'H@sn@t Osm@n'

In [77]:
name

'Hasnat Osman'

In [78]:
update_name = name.replace('a', '@')

In [79]:
update_name

'H@sn@t Osm@n'

In [80]:
name

'Hasnat Osman'

In [81]:
title = 'Python for beginners'

In [82]:
title

'Python for beginners'

In [84]:
"Python" in title

True

 ### Arithmetic operators in python .....

In [85]:
20 /3

6.666666666666667

In [86]:
20 // 3

6

In [87]:
20 % 3

2

In [88]:
20 + 30

50

In [89]:
50 - 23

27

In [90]:
5 * 3

15

In [91]:
 4 ** 3

64

In [92]:
10 + 2 * 3

16

In [93]:
(10 + 2) * 3

36

In [94]:
5 > 3

True

In [95]:
5 < 3

False

### Logical Operators......................................

In [96]:
price = 100

In [97]:
price > 50 and price < 500

True

In [98]:
price > 500 or price < 500

True

In [100]:
price <= 400 and price >= 30

True

In [102]:
not price == 50

True

In [103]:
not price > 40

False

In [104]:
not price < 40

True

### if statement

In [105]:
temp = 35
if temp > 30:
    print("It's a hot day !")

It's a hot day !

In [107]:
temp = 25
if temp > 30:
    print("It's a hot day !")
else:
    print('Seems cool!')

Seems cool!

In [117]:
temp = 20
if temp >= 30:
    print("It's a hot day !")
elif temp <= 20:
    print("It's so cool!")
else:
    print('Seems okay!')

It's so cool!

### Exercise.............................................!

In [122]:
weight = int(input("Weight: "))
unit = input("(K)g or (L)bs: ")

if unit.upper == "K":
    converted =  weight / 0.45
    print("Weight in Lbs :" + str(converted))
    
else:
    converted = weight * 0.45
    print("Weight in kgs:" + str(converted))

Weight: 76
(K)g or (L)bs: k
Weight in kgs:34.2

### While Loops in python ..............

In [125]:
i = 1
while i <= 5:
    print(i)
    i = i + 1

1
2
3
4
5

In [128]:
i = 5
while i > 0:
    print(i)
    i -= 1

5
4
3
2
1

In [130]:
i = 1
while i <= 5:
    print(i * "*")
    i = i + 1

*
**
***
****
*****

### List in python ...........................

In [131]:
names = ['Kazi','Showrab','Santo', 'Sam']

In [132]:
names

['Kazi', 'Showrab', 'Santo', 'Sam']

In [133]:
name[1]

'a'

In [134]:
names[1]

'Showrab'

In [135]:
names[-1]

'Sam'

In [136]:
names[-2]

'Santo'

In [137]:
names[-1] = 'Hasnat'

In [138]:
names

['Kazi', 'Showrab', 'Santo', 'Hasnat']

In [139]:
numbers = [1,2,3,4,5]

In [140]:
numbers

[1, 2, 3, 4, 5]

In [141]:
numbers.append(6)

In [142]:
numbers

[1, 2, 3, 4, 5, 6]

In [143]:
numbers.insert(0,0)

In [144]:
numbers

[0, 1, 2, 3, 4, 5, 6]

### For loops......................

In [145]:
for item in numbers:
    print(item)

0
1
2
3
4
5
6

In [146]:
for i in names:
    print(i)

Kazi
Showrab
Santo
Hasnat

### Range Function ...........

In [148]:
range(10)

range(0, 10)

In [149]:
for i in range(5):
    print(i)

0
1
2
3
4

In [153]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

 ### Tuples in python ...................

In [154]:
numbers = (1,2,3,4)

In [155]:
numbers

(1, 2, 3, 4)

In [156]:
# tuples are immutable, you can't change it

### ----- The End -----